h1 {
  margin: 30px 30px 20px;
  font-family: 'Merriweather', serif;
}

input {
  margin: 0 30px 20px;
  border:none;
  border-bottom: 1px solid;
}

li {
  font-style: italic;
}

.close {
  text-decoration: line-through;
  font-style: italic;
  font-weight: normal;
}
