<h1>Список дел</h1>
<div>
  <app-todo-item
    (clicked)="changedArray($event)">
  </app-todo-item>
</div>


<div>Test</div>
<!-- <span *ngFor="let createdTask of task">
  {{createdTask}}
</span> -->
<button (click)="clearFunc()"
>Очистить список</button>
<ol>
<li
  *ngFor="let createdTask of tasks; let i = index; trackBy: trackByFn"
  [class.close]="createdTask.checked"
>
  <input
    type="checkbox"
    [checked]="createdTask.checked"
    (click)="changeParams(i)"
  >
  {{createdTask.title}}
  <button (click)="delTask(i)">X</button>
</li>
</ol>