<h1>Список дел</h1>
<div>
  <app-todo-item
    (clicked)="changedArray($event)">
  </app-todo-item>
</div>


<div>Test</div>
<button mat-raised-button (click)="clearFunc()"
>Очистить список</button>
<ol
cdkDropList (cdkDropListDropped)="drop($event)">
<li
  *ngFor="let createdTask of tasks; let i = index; trackBy: trackByFn"
  [class.close]="createdTask.checked"
  cdkDrag>
  <button mat-raised-button (click)="delTask(i)">X</button>
  <button mat-raised-button (click)="openDialog(createdTask, i)">Ред.</button>  
    <input
      type="checkbox"
      [checked]="createdTask.checked"
      (click)="changeParams(i)"
    >
    {{createdTask.title}}
</li>
</ol>